# Ignore macOS system files
.DS_Store
*/.DS_Store
**/.DS_Store
model_process.log
__pycache__
*.pyc
*.pyo
*.pyd
*.so

# ignore editor files
.vscode/*
# ignore random scripts 
scripts/*


# Ignore Python virtual environment
.venv

# Ignore Python build files
build
dist
*.egg-info

# Ignore Python test files
.pytest_cache
.coverage
htmlcov

# Ignore Python virtual environment
venv

# Ignore environment files
.env
.env.local
.env.*.local
